# Logs
logs
*.log
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
screenshots/

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
